html{
    text-align: center;
}

body{
    background-color: rgb(188, 205, 247);
}

h1 {
    font-family: "Comic Sans MS", "Chalkboard SE";
    font-weight: normal;
}

l {
    font-family: "Monaco";
    font-display: center;
    font-weight: normal;
    font-size:30px;
}

text{
    font-family: "Monaco";
    font-display: center;
    font-weight: normal;
    font-size:18px;
}

m {
    color: rgb(0, 74, 0);
    background-color: rgb(200, 255, 200);
    font-family: "Times New Roman", "Arial";
    font-size: 40px;
}

ups {
    color: rgb(0, 0, 0);
    font-family: "Times New Roman", "Arial";
    font-size: 30px;
}

xp {
    font-family: "Monaco";
    font-weight: normal;
    font-size: 20px;
}

progress {
    accent-color: rgb(3, 165, 252);
    height: 45px;
    width: 100%;
}

#daButton {
    color: black;
    font-size: xx-large;
    font-family: "Comic Sans MS", "Chalkboard SE";
    background-color:rgb(100, 255, 100);
    /*border-color: green;*/
    border-radius: 20px;
    border-width: 10px;
    margin: auto;
    height: 200px;
    width: 100%;
}

#daButton:hover {
    filter: brightness(90%);
}

#money{
    width: 100%;
}

#outer {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 10px
}

#outer2 {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 10px
}

#uOpsDiv {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 6fr;
    grid-gap: 0px;
}

.inner{
    margin-top: 13px;
}

#upsInner{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 5px;
}

#upsButton {
    font-size: x-large;
    font-family: "Monaco";
    background-color: white;
    border-color: black;
    border-radius: 20px;
    border-width: 5px;
    margin: auto;
    margin-top: 10px;
    width: 100%;
}
#upsButton:hover {
    filter: brightness(90%);
}

.reset{
    font-size: x-large;
    background-color: rgba(153, 205, 50, 0.387);
    border-color: green;
    border-radius: 10px;
    border-width: 5px;
    margin: auto;
    width: 100%;
}
.reset:hover {
    filter: brightness(80%);
}

.uOps {
    color: black;
    background-color: transparent;
    border-color: transparent;
}
.uOps:hover {
    color: blue;
}

.tTip .tTipText{
    background-color: black;
    width: 120px;
    color: black;
    position: absolute;
    visibility: hidden;
    z-index: 1;
}

.tTip:hover .tTipText{
    visibility: visible;
}